In [669]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, Float, String, Date, ForeignKey, UniqueConstraint
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy.dialects.mysql import INTEGER
import psycopg2
import pandas as pd
import numpy as np

In [690]:
SUMMER_PATH = "data/summer.csv"
WINTER_PATH = "data/winter.csv"
DICT_PATH = "data/dictionary.csv"

In [692]:
df_summer  = pd.read_csv(SUMMER_PATH)
df_winter  = pd.read_csv(WINTER_PATH)
df_dict  = pd.read_csv(DICT_PATH)

df_summer['Surname'] = df_summer['Athlete'].str.split(", ",expand=True,)[0]
df_summer['Name'] = df_summer['Athlete'].str.split(", ",expand=True,)[1]
df_summer.fillna('nan')
df_summer["Olympics"]='Summer'
df_winter['Surname'] = df_summer['Athlete'].str.split(", ",expand=True,)[0]
df_winter['Name'] = df_summer['Athlete'].str.split(", ",expand=True,)[1]
df_winter.fillna('nan')
df_winter["Olympics"]='Winter'
df=pd.concat([df_summer,df_winter])
df.head(100000)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Surname,Name,Olympics
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,HAJOS,Alfred,Summer
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,HERSCHMANN,Otto,Summer
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,DRIVAS,Dimitrios,Summer
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,MALOKINIS,Ioannis,Summer
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,CHASAPIS,Spiridon,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,BARANY,Istvan,Winter
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,SZABADOS,László,Winter
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,SZEKELY,Andras,Winter
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,WANIE,Andras,Winter
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,MIOYAZAKI,Yasuji,Winter

# CREATE DATABASE ENGINE

In [672]:
db_string = "postgres://postgres:mateusz16@localhost:5432/adb_10"

In [695]:
df_dict=df_dict.rename({"Country": "name","Code": "code","Population": "population","GDP per Capita":"gdp_per_capita"},axis='columns')
df_dict=df_dict.fillna('0')
countries= df_dict[["name","code", "population", "gdp_per_capita"]].drop_duplicates().reset_index().drop(columns = ['index']);                       

countries.index.name='id'
#print(countries)
cities=df["City"].unique()
#print(cities)
sports=df["Sport"].unique()
disciplines=df[["Discipline", "Sport"]].drop_duplicates().reset_index().drop(columns = ['index']);  
#print(disciplines)
events=df[["Event", "Discipline"]].drop_duplicates().reset_index().drop(columns = ['index']);  
#print(events)
athletes=df[["Name", "Surname", "Gender", "Country"]].drop_duplicates().reset_index().drop(columns = ['index']);  
#print(athletes)
olympics=df[["Year", "City", "Olympics"]].drop_duplicates().reset_index().drop(columns = ['index']);  
print(olympics)

medals=df[["Athlete", "City"]].drop_duplicates().reset_index().drop(columns = ['index']);

    Year                    City Olympics
0   1896                  Athens   Summer
1   1900                   Paris   Summer
2   1904                St Louis   Summer
3   1908                  London   Summer
4   1912               Stockholm   Summer
5   1920                 Antwerp   Summer
6   1924                   Paris   Summer
7   1928               Amsterdam   Summer
8   1932             Los Angeles   Summer
9   1936                  Berlin   Summer
10  1948                  London   Summer
11  1952                Helsinki   Summer
12  1956   Melbourne / Stockholm   Summer
13  1960                    Rome   Summer
14  1964                   Tokyo   Summer
15  1968                  Mexico   Summer
16  1972                  Munich   Summer
17  1976                Montreal   Summer
18  1980                  Moscow   Summer
19  1984             Los Angeles   Summer
20  1988                   Seoul   Summer
21  1992               Barcelona   Summer
22  1996                 Atlanta   Summer
23  2000                  Sydney   Summer
24  2004                  Athens   Summer
25  2008                 Beijing   Summer
26  2012                  London   Summer
27  1924                Chamonix   Winter
28  1928               St.Moritz   Winter
29  1932             Lake Placid   Winter
30  1936  Garmisch Partenkirchen   Winter
31  1948               St.Moritz   Winter
32  1952                    Oslo   Winter
33  1956       Cortina d'Ampezzo   Winter
34  1960            Squaw Valley   Winter
35  1964               Innsbruck   Winter
36  1968                Grenoble   Winter
37  1972                 Sapporo   Winter
38  1976               Innsbruck   Winter
39  1980             Lake Placid   Winter
40  1984                Sarajevo   Winter
41  1988                 Calgary   Winter
42  1992             Albertville   Winter
43  1994             Lillehammer   Winter
44  1998                  Nagano   Winter
45  2002          Salt Lake City   Winter
46  2006                   Turin   Winter
47  2010               Vancouver   Winter
48  2014                   Sochi   Winter

In [674]:
db = create_engine(db_string)
Base = declarative_base()

# TABLES IMPLEMENTATION

In [675]:
class Athlete(Base):
    __tablename__ = 'Athlete'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    surname = Column(String(100))
    country_id = Column(Integer, ForeignKey('Countries.id'))
    gender = Column(String(10))
    
    def __repr__(self):
        return "<game(id = '{0}' , name = {1}, surname = {2}, , country_id = {3}, gender = {4}>".format(
            self.id, self.name, self.surname, self.country_id, self.gender)

class Countries(Base):
    __tablename__ = 'Countries'
    #__table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    code = Column(String(10))
    population = Column(INTEGER(unsigned=True))
    gdp_per_capita = Column(Float)
    
    def __repr__(self):
        return "<game(id = '{0}' , name = {1}, code = {2}, population = {3}, gdp_per_capita = {4}>".format(
            self.id, self.name, self.code, self.population, self.gdp_per_capita)

class Medals(Base):
    __tablename__ = 'Medals'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    olympics_id = Column(Integer, ForeignKey('Olympics.id'))
    event_id = Column(Integer, ForeignKey('Events.id'))
    athlete_id = Column(Integer, ForeignKey('Athlete.id'))
    medal_type = Column(String(10))
    
    def __repr__(self):
        return "<game(id = '{0}' , olympics_id = {1}, event_id = {2}, athlete_id = {3}, medal_type = {4}>".format(
            self.id, self.olympics_id, self.event_id, self.athlete_id, self.medal_type)

class Olympics(Base):
    __tablename__ = 'Olympics'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    year = Column(INTEGER(unsigned=True))
    olympics_type = Column(String(10))
    city_id = Column(Integer, ForeignKey('Cities.id'))
    
    def __repr__(self):
        return "<game(id = '{0}' , year = {1}, olympics_type = {2}, city_id = {3}>".format(
            self.id, self.year, self.olympics_type, self.city_id)
    
class Cities(Base):
    __tablename__ = 'Cities'
    __table_args__ = (UniqueConstraint('name'),)
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    
    def __repr__(self):
        return "<game(id = '{0}' , name = {1}>".format(
            self.id, self.name)

class Events(Base):
    __tablename__ = 'Events'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    discipline_id = Column(Integer, ForeignKey('Disciplines.id'))
     
    def __repr__(self):
        return "<game(id = '{0}' , name = {1}, discipline_id = {2}>".format(
            self.id, self.name, self.discipline_id)

class Disciplines(Base):
    __tablename__ = 'Disciplines'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    sport_id = Column(Integer, ForeignKey('Sports.id'))
    
    def __repr__(self):
        return "<game(id = '{0}' , name = {1}, sport_id = {2}>".format(
            self.id, self.name, self.sport_id)

class Sports(Base):
    __tablename__ = 'Sports'
    __table_args__ = (UniqueConstraint('name'),)
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    
    def __repr__(self):
        return "<game(id = '{0}' , name = {1}>".format(
            self.id, self.name)

In [676]:
Base.metadata.create_all(db)

In [677]:
Session = sessionmaker(bind = db)
session = Session()
session.rollback()

In [678]:
session.flush()

In [679]:
def add_to_session_and_get_id(session, db_object):
    session.add(db_object)
    session.flush()
    session.refresh(db_object)

def find_sports_id(session, sports_name):
    return session.query(Sports.id).filter(Sports.name == sports_name).all()[0][0]

def find_disciplines_id(session, disciplines_name):
    return session.query(Disciplines.id).filter(Disciplines.name == disciplines_name).all()[0][0]

def find_cities_id(session, city_name):
    return session.query(Cities.id).filter(Cities.name == city_name).all()[0][0]

def find_countries_id(session, country_code):
    return session.query(Countries.id).filter(Countries.code == country_code).all()[0][0]

def find_athlete_id(session, athlete_name):
    return session.query(Athlete.id).filter(Athlete.name == athlete_name).all()[0][0]

def find_olympics_id(session, olympics_name):
    return session.query(Olympics.id).filter(Olympics.name == olympics_name).all()[0][0]

def find_events_id(session, events_name):
    return session.query(Events.id).filter(Events.name == events_name).all()[0][0]

# FILLING DATABASE

In [680]:
# Fill Cities Table
for city in set(cities.tolist()):
    session.add(Cities(name=city)) 
session.query(Cities).limit(5).all()

[<game(id = '1' , name = Berlin>,
 <game(id = '2' , name = Tokyo>,
 <game(id = '3' , name = Stockholm>,
 <game(id = '4' , name = Sydney>,
 <game(id = '5' , name = Albertville>]

In [681]:
# Fill Sports Table
for sport in set(sports.tolist()):
    session.add(Sports(name=sport)) 
session.query(Sports).limit(5).all()

[<game(id = '1' , name = Skiing>,
 <game(id = '2' , name = Fencing>,
 <game(id = '3' , name = Golf>,
 <game(id = '4' , name = Bobsleigh>,
 <game(id = '5' , name = Cycling>]

In [682]:
# Fill Countries Table
# countries.to_sql('Countries',db, if_exists='append')
# Fill Countries Table
for id_, country in countries.iterrows():
    #print(discipline["Discipline"]);
    session.add(Countries(name=country["name"], code=country["code"], population=country["population"], gdp_per_capita=country["gdp_per_capita"])) 
session.query(Countries).limit(5).all()

[<game(id = '1' , name = Afghanistan, code = AFG, population = 32526562, gdp_per_capita = 594.323081219966>,
 <game(id = '2' , name = Albania, code = ALB, population = 2889167, gdp_per_capita = 3945.21758150914>,
 <game(id = '3' , name = Algeria, code = ALG, population = 39666519, gdp_per_capita = 4206.03123244958>,
 <game(id = '4' , name = American Samoa*, code = ASA, population = 55538, gdp_per_capita = 0.0>,
 <game(id = '5' , name = Andorra, code = AND, population = 70473, gdp_per_capita = 0.0>]

In [683]:
# Fill Disciplines Table
for id_, discipline in disciplines.iterrows():
    #print(discipline["Discipline"]);
    session.add(Disciplines(name=discipline["Discipline"], sport_id=find_sports_id(session, discipline["Sport"])))

In [684]:
# Fill Events Table
for id_, event in events.iterrows():
    #print(discipline["Discipline"]);
    session.add(Events(name=event["Event"], discipline_id=find_disciplines_id(session, event["Discipline"])))

In [698]:
# Fill Olympics Table
for id_, olympic in olympics.iterrows():
    #print(discipline["Discipline"]);
    session.add(Olympics(year=olympic["Year"], city_id=find_cities_id(session, olympic["City"]), olympics_type=olympic["Olympics"]))

In [686]:
# Fill Athlete Table
for id_, athlete in athletes.iterrows():
    print(athlete);
#     add_to_session_and_get_id(session, Athlete(name=athlete["Name"], surname=athlete["Surname"], country_id=find_countries_id(session, athlete["Country"]), gender=athlete["Gender"]))
    session.add(Athlete(name=athlete["Name"], surname=athlete["Surname"], country_id=find_countries_id(session, athlete["Country"]), gender=athlete["Gender"]))
#     session.flush()
#     session.refresh(Athlete(name=athlete["Name"], surname=athlete["Surname"], country_id=find_countries_id(session, athlete["Country"]), gender=athlete["Gender"]))

Name       Alfred
Surname     HAJOS
Gender        Men
Country       HUN
Name: 0, dtype: object
Name             Otto
Surname    HERSCHMANN
Gender            Men
Country           AUT
Name: 1, dtype: object
Name       Dimitrios
Surname       DRIVAS
Gender           Men
Country          GRE
Name: 2, dtype: object
Name         Ioannis
Surname    MALOKINIS
Gender           Men
Country          GRE
Name: 3, dtype: object
Name       Spiridon
Surname    CHASAPIS
Gender          Men
Country         GRE
Name: 4, dtype: object
Name       Efstathios
Surname     CHOROPHAS
Gender            Men
Country           GRE
Name: 5, dtype: object
Name       Joannis
Surname    ANDREOU
Gender         Men
Country        GRE
Name: 6, dtype: object
Name          Paul
Surname    NEUMANN
Gender         Men
Country        AUT
Name: 7, dtype: object
Name       Antonios
Surname     PEPANOS
Gender          Men
Country         GRE
Name: 8, dtype: object
Name       Francis
Surname       LANE
Gender         Men
Country        USA
Name: 9, dtype: object
Name         Alajos
Surname    SZOKOLYI
Gender          Men
Country         HUN
Name: 10, dtype: object
Name       Thomas
Surname     BURKE
Gender        Men
Country       USA
Name: 11, dtype: object
Name         Fritz
Surname    HOFMANN
Gender         Men
Country        GER
Name: 12, dtype: object
Name       Thomas
Surname    CURTIS
Gender        Men
Country       USA
Name: 13, dtype: object
Name       Grantley
Surname    GOULDING
Gender          Men
Country         GBR
Name: 14, dtype: object
Name            Albin
Surname    LERMUSIAUX
Gender            Men
Country           FRA
Name: 15, dtype: object
Name       Edwin
Surname    FLACK
Gender       Men
Country      AUS
Name: 16, dtype: object
Name       Arthur
Surname     BLAKE
Gender        Men
Country       USA
Name: 17, dtype: object
Name       Charles
Surname     GMELIN
Gender         Men
Country        GBR
Name: 18, dtype: object
Name       Herbert
Surname    JAMISON
Gender         Men
Country        USA
Name: 19, dtype: object
Name       Dimitrios
Surname      GOLEMIS
Gender           Men
Country          GRE
Name: 20, dtype: object
Name       Nandor
Surname      DANI
Gender        Men
Country       HUN
Name: 21, dtype: object
Name       Sotirios
Surname      VERSIS
Gender          Men
Country         GRE
Name: 22, dtype: object
Name        Robert
Surname    GARRETT
Gender         Men
Country        USA
Name: 23, dtype: object
Name            Panagiotis
Surname    PARASKEVOPOULOS
Gender                 Men
Country                GRE
Name: 24, dtype: object
Name       Ellery
Surname     CLARK
Gender        Men
Country       USA
Name: 25, dtype: object
Name          James
Surname    CONNOLLY
Gender          Men
Country         USA
Name: 26, dtype: object
Name         Gyula
Surname    KELLNER
Gender         Men
Country        HUN
Name: 27, dtype: object
Name       Spyridon
Surname       LOUIS
Gender          Men
Country         GRE
Name: 28, dtype: object
Name       Kharilaos
Surname    VASILAKOS
Gender           Men
Country          GRE
Name: 29, dtype: object
Name       Evangelos
Surname     DAMASKOS
Gender           Men
Country          GRE
Name: 30, dtype: object
Name              Ioannis
Surname    THEODOROPOULOS
Gender                Men
Country               GRE
Name: 31, dtype: object
Name       William Welles
Surname              HOYT
Gender                Men
Country               USA
Name: 32, dtype: object
Name       Albert
Surname     TYLER
Gender        Men
Country       USA
Name: 33, dtype: object
Name          Georgios
Surname    PAPASIDERIS
Gender             Men
Country            GRE
Name: 34, dtype: object
Name       Miltiadis
Surname      GOUSKOS
Gender           Men
Country          GRE
Name: 35, dtype: object
Name        Ioannis
Surname    PERSAKIS
Gender          Men
Country         GRE
Name: 36, dtype: object
Name       Alexandre
Surname      TUFFERI
Gender           Men
Country          FRA
Name: 37, dtype: object
Name       Edward
Surname    BATTEL
Gender        Men
Country       GBR
Name: 38, dtype: object
Name            Aristidis
Surname    KONSTANTINIDIS
Gender                Men
Country               GRE
Name: 39, dtype: object
Name         August
Surname    GOEDRICH
Gender          Men
Country         GER
Name: 40, dtype: object
Name          Léon
Surname    FLAMENG
Gender         Men
Country        FRA
Name: 41, dtype: object
Name       Georgios
Surname    KOLETTIS
Gender          Men
Country         GRE
Name: 42, dtype: object
Name        Adolf
Surname    SCHMAL
Gender        Men
Country       AUT
Name: 43, dtype: object
Name         Paul
Surname    MASSON
Gender        Men
Country       FRA
Name: 44, dtype: object
Name         Frank
Surname    KEEPING
Gender         Men
Country        GBR
Name: 45, dtype: object
Name          Stamatios
Surname    NIKOLOPOULOS
Gender              Men
Country             GRE
Name: 46, dtype: object
Name                      Perikles
Surname    PIERRAKOS-MAVROMICHALIS
Gender                         Men
Country                        GRE
Name: 47, dtype: object
Name       Eugène-Henri
Surname      GRAVELOTTE
Gender              Men
Country             FRA
Name: 48, dtype: object
Name        Henri
Surname    CALLOT
Gender        Men
Country       FRA
Name: 49, dtype: object
Name       Leonidas
Surname      PYRGOS
Gender          Men
Country         GRE
Name: 50, dtype: object
Name         Maurice
Surname    PERRONNET
Gender           Men
Country          FRA
Name: 51, dtype: object
Name        Holger
Surname    NIELSEN
Gender         Men
Country        DEN
Name: 52, dtype: object
Name          Ioannis
Surname    GEORGIADIS
Gender            Men
Country           GRE
Name: 53, dtype: object
Name       Telemachos
Surname     KARAKALOS
Gender            Men
Country           GRE
Name: 54, dtype: object
Name           Hermann
Surname    WEINGÄRTNER
Gender             Men
Country            GER
Name: 55, dtype: object
Name       Alfred
Surname    FLATOW
Gender        Men
Country       GER
Name: 56, dtype: object
Name        Louis
Surname    ZUTTER
Gender        Men
Country       SUI
Name: 57, dtype: object
Name         Petros
Surname    PERSAKIS
Gender          Men
Country         GRE
Name: 58, dtype: object
Name           Ioannis
Surname    MITROPOULOS
Gender             Men
Country            GRE
Name: 59, dtype: object
Name             Nicolaos
Surname    ANDRIAKOPOULOS
Gender                Men
Country               GRE
Name: 60, dtype: object
Name       Thomasios
Surname      XENAKIS
Gender           Men
Country          GRE
Name: 61, dtype: object
Name       Konrad
Surname    BÖCKER
Gender        Men
Country       GER
Name: 62, dtype: object
Name       Gustav Felix
Surname          FLATOW
Gender              Men
Country             GER
Name: 63, dtype: object
Name        Georg
Surname    HILMAR
Gender        Men
Country       GER
Name: 64, dtype: object
Name            Fritz
Surname    MANTEUFFEL
Gender            Men
Country           GER
Name: 65, dtype: object
Name           Karl
Surname    NEUKIRCH
Gender          Men
Country         GER
Name: 66, dtype: object
Name       Richard
Surname     RÖSTEL
Gender         Men
Country        GER
Name: 67, dtype: object
Name       Gustav
Surname    SCHUFT
Gender        Men
Country       GER
Name: 68, dtype: object
Name           Carl
Surname    SCHUMANN
Gender          Men
Country         GER
Name: 69, dtype: object
Name          Ioannis
Surname    CHRYSAPHIS
Gender            Men
Country           GRE
Name: 70, dtype: object
Name       Phillippos
Surname      KARVELAS
Gender            Men
Country           GRE
Name: 71, dtype: object
Name       Dimitrios
Surname     LOUNDRAS
Gender           Men
Country          GRE
Name: 72, dtype: object
Name               Spyros
Surname    ATHANASOPOULOS
Gender                Men
Country               GRE
Name: 73, dtype: object
Name       Nikolaos
Surname     MORAKIS
Gender          Men
Country         GRE
Name: 74, dtype: object
Name        John
Surname    PAINE
Gender       Men
Country      USA
Name: 75, dtype: object
Name       Sumner
Surname     PAINE
Gender        Men
Country       USA
Name: 76, dtype: object
Name           Joannis
Surname    PHRANGOUDIS
Gender             Men
Country            GRE
Name: 77, dtype: object
Name         Georgios
Surname    ORPHANIDIS
Gender            Men
Country           GRE
Name: 78, dtype: object
Name       Nicolaos
Surname    TRIKUPIS
Gender          Men
Country         GRE
Name: 79, dtype: object
Name         Pantelis
Surname    KARASEVDAS
Gender            Men
Country           GRE
Name: 80, dtype: object
Name         Pavlos
Surname    PAVLIDIS
Gender          Men
Country         GRE
Name: 81, dtype: object
Name        Viggo
Surname    JENSEN
Gender        Men
Country       DEN
Name: 82, dtype: object

Name       Edwin
Surname    FLACK
Gender       Men
Country      ZZX
Name: 83, dtype: object

IndexError: list index out of range

In [657]:
# Fill Medals Table
for id_, medal in medals.iterrows():
    #print(medal["Medal"]);
    session.add(Medals(olympics_id=find_olympics_id(session, medal["Olympics"])), event_id=find_events_id(session, medal["Event"]),athlete_id=find_events_id(session, medal["Name","Surname"]), medal_type=medal["Medal"])

NameError: name 'medals' is not defined

In [699]:
session.commit()