In [938]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, Float, String, Date, ForeignKey, UniqueConstraint
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy.dialects.mysql import INTEGER
import psycopg2
import pandas as pd
import numpy as np

In [939]:
SUMMER_PATH = "data/summer.csv"
WINTER_PATH = "data/winter.csv"
DICT_PATH = "data/dictionary.csv"

In [940]:
df_summer  = pd.read_csv(SUMMER_PATH)
df_winter  = pd.read_csv(WINTER_PATH)
df_dict  = pd.read_csv(DICT_PATH)
df_summer.fillna('nan')
df_summer["Olympics"]='Summer'
df_winter.fillna('nan')
df_winter["Olympics"]='Winter'
df=pd.concat([df_summer,df_winter])
df['Surname'] = df['Athlete'].str.split(", ",expand=True,)[0]
df['Name'] = df['Athlete'].str.split(", ",expand=True,)[1]
df.head(100000)
df.loc[df['Name'] == 'Helena']

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Olympics,Surname,Name
5466,1928,Amsterdam,Gymnastics,Artistic G.,"NORDHEIM, Helena",NED,Women,Team Competition,Gold,Summer,NORDHEIM,Helena
9511,1956,Melbourne / Stockholm,Gymnastics,Artistic G.,"RAKOCZY, Helena",POL,Women,"Team, Portable Apparatus",Bronze,Summer,RAKOCZY,Helena
14206,1976,Montreal,Athletics,Athletics,"FIBINGEROVA, Helena",TCH,Women,Shot Put,Bronze,Summer,FIBINGEROVA,Helena
19426,1988,Seoul,Tennis,Tennis,"SUKOVA, Helena",TCH,Women,Doubles,Silver,Summer,SUKOVA,Helena
22980,1996,Atlanta,Tennis,Tennis,"SUKOVA, Helena",CZE,Women,Doubles,Silver,Summer,SUKOVA,Helena
30924,2012,London,Taekwondo,Taekwondo,"FROMM, Helena",GER,Women,57 - 67 KG,Bronze,Summer,FROMM,Helena
932,1960,Squaw Valley,Skating,Speed skating,"PILEJCZYK, Helena",POL,Women,1500M,Bronze,Winter,PILEJCZYK,Helena
1560,1972,Sapporo,Skiing,Cross Country Skiing,"TAKALO, Helena",FIN,Women,3X5KM Relay,Silver,Winter,TAKALO,Helena
1576,1972,Sapporo,Skiing,Cross Country Skiing,"SIKOLOVA, Helena",TCH,Women,5KM,Bronze,Winter,SIKOLOVA,Helena
1752,1976,Innsbruck,Skiing,Cross Country Skiing,"TAKALO, Helena",FIN,Women,10KM,Silver,Winter,TAKALO,Helena
1782,1976,Innsbruck,Skiing,Cross Country Skiing,"TAKALO, Helena",FIN,Women,4X5KM Relay,Silver,Winter,TAKALO,Helena
1787,1976,Innsbruck,Skiing,Cross Country Skiing,"TAKALO, Helena",FIN,Women,5KM,Gold,Winter,TAKALO,Helena
1968,1980,Lake Placid,Skiing,Cross Country Skiing,"TAKALO, Helena",FIN,Women,10KM,Bronze,Winter,TAKALO,Helena

# CREATE DATABASE ENGINE

In [941]:
db_string = "postgres://postgres:mateusz16@localhost:5432/adb_9"

In [942]:
df_dict=df_dict.rename({"Country": "name","Code": "code","Population": "population","GDP per Capita":"gdp_per_capita"},axis='columns')
df_dict=df_dict.fillna('0')
countries= df_dict[["name","code", "population", "gdp_per_capita"]].drop_duplicates().reset_index().drop(columns = ['index']);                       

countries.index.name='id'
#print(countries)
cities=df["City"].unique()
#print(cities)
sports=df["Sport"].unique()
disciplines=df[["Discipline", "Sport"]].drop_duplicates().reset_index().drop(columns = ['index']);  
#print(disciplines)
events=df[["Event", "Discipline"]].drop_duplicates().reset_index().drop(columns = ['index']);  
#print(events)
athletes=df[["Name", "Surname", "Gender", "Country"]].drop_duplicates().reset_index().drop(columns = ['index']);  
#print(athletes)
olympics=df[["Year", "City", "Olympics"]].drop_duplicates().reset_index().drop(columns = ['index']);  
#print(olympics)
medals=df[["Olympics", "Event", "Name", "Surname", "Medal"]].drop_duplicates().reset_index().drop(columns = ['index']);
#print(medals)

In [943]:
db = create_engine(db_string)
Base = declarative_base()

# TABLES IMPLEMENTATION

In [944]:
class Athlete(Base):
    __tablename__ = 'Athlete'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    surname = Column(String(100))
    country_id = Column(Integer, ForeignKey('Countries.id'))
    gender = Column(String(10))
    
    def __repr__(self):
        return "<game(id = '{0}' , name = {1}, surname = {2}, , country_id = {3}, gender = {4}>".format(
            self.id, self.name, self.surname, self.country_id, self.gender)

class Countries(Base):
    __tablename__ = 'Countries'
    #__table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    code = Column(String(10))
    population = Column(INTEGER(unsigned=True))
    gdp_per_capita = Column(Float)
    
    def __repr__(self):
        return "<game(id = '{0}' , name = {1}, code = {2}, population = {3}, gdp_per_capita = {4}>".format(
            self.id, self.name, self.code, self.population, self.gdp_per_capita)

class Medals(Base):
    __tablename__ = 'Medals'
    id = Column(Integer, primary_key=True)
    olympics_id = Column(Integer, ForeignKey('Olympics.id'))
    event_id = Column(Integer, ForeignKey('Events.id'))
    athlete_id = Column(Integer, ForeignKey('Athlete.id'))
    medal_type = Column(String(10))
    
    def __repr__(self):
        return "<game(id = '{0}' , olympics_id = {1}, event_id = {2}, athlete_id = {3}, medal_type = {4}>".format(
            self.id, self.olympics_id, self.event_id, self.athlete_id, self.medal_type)

class Olympics(Base):
    __tablename__ = 'Olympics'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    year = Column(INTEGER(unsigned=True))
    olympics_type = Column(String(10))
    city_id = Column(Integer, ForeignKey('Cities.id'))
    
    def __repr__(self):
        return "<game(id = '{0}' , year = {1}, olympics_type = {2}, city_id = {3}>".format(
            self.id, self.year, self.olympics_type, self.city_id)
    
class Cities(Base):
    __tablename__ = 'Cities'
    __table_args__ = (UniqueConstraint('name'),)
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    
    def __repr__(self):
        return "<game(id = '{0}' , name = {1}>".format(
            self.id, self.name)

class Events(Base):
    __tablename__ = 'Events'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    discipline_id = Column(Integer, ForeignKey('Disciplines.id'))
     
    def __repr__(self):
        return "<game(id = '{0}' , name = {1}, discipline_id = {2}>".format(
            self.id, self.name, self.discipline_id)

class Disciplines(Base):
    __tablename__ = 'Disciplines'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    sport_id = Column(Integer, ForeignKey('Sports.id'))
    
    def __repr__(self):
        return "<game(id = '{0}' , name = {1}, sport_id = {2}>".format(
            self.id, self.name, self.sport_id)

class Sports(Base):
    __tablename__ = 'Sports'
    __table_args__ = (UniqueConstraint('name'),)
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    
    def __repr__(self):
        return "<game(id = '{0}' , name = {1}>".format(
            self.id, self.name)

In [945]:
Base.metadata.create_all(db)

In [975]:
Session = sessionmaker(bind = db)
session = Session()
session.rollback()

In [976]:
session.flush()

In [999]:
def add_to_session_and_get_id(session, db_object):
    session.add(db_object)
    session.flush()
    session.refresh(db_object)

def find_sports_id(session, sports_name):
    return session.query(Sports.id).filter(Sports.name == sports_name).all()[0][0]

def find_disciplines_id(session, disciplines_name):
    return session.query(Disciplines.id).filter(Disciplines.name == disciplines_name).all()[0][0]

def find_cities_id(session, city_name):
    return session.query(Cities.id).filter(Cities.name == city_name).all()[0][0]

def find_countries_id(session, country_code):
    for cd in df_dict["code"]:
        if country_code==cd:
             return session.query(Countries.id).filter(Countries.code == country_code).all()[0][0]
             continue
        else: 
            pass
    return session.query(Countries.id).filter(Countries.code == 'Nan').all()[0][0]

def find_athlete_id(session, athlete_name, athlete_surname):
    for id_, athlete in df[['Name','Surname']].iterrows():
        #print(session.query(Athlete.id).filter((Athlete.name == athlete_name) and (Athlete.surname == athlete_surname)).all())
        if athlete["Name"]==athlete_name and athlete["Surname"]==athlete_surname:
#             #Athlete.id=id_
             return session.query(Athlete.id).filter(Athlete.name == athlete_name and Athlete.surname == athlete_surname).all()[0][0]


def find_olympics_id(session, olympics_name):
    return session.query(Olympics.id).filter(Olympics.olympics_type == olympics_name).all()[0][0]

def find_events_id(session, events_name):
    return session.query(Events.id).filter(Events.name == events_name).all()[0][0]

In [1000]:
find_athlete_id(session,'Otto', 'HERSCHMANN')

2

# FILLING DATABASE

In [988]:
# Fill Cities Table
for city in set(cities.tolist()):
    session.add(Cities(name=city)) 
session.query(Cities).limit(5).all()

[<game(id = '1' , name = Berlin>,
 <game(id = '2' , name = Tokyo>,
 <game(id = '3' , name = Stockholm>,
 <game(id = '4' , name = Sydney>,
 <game(id = '5' , name = Albertville>]

In [989]:
# Fill Sports Table
for sport in set(sports.tolist()):
    session.add(Sports(name=sport)) 
session.query(Sports).limit(5).all()

[<game(id = '1' , name = Skiing>,
 <game(id = '2' , name = Fencing>,
 <game(id = '3' , name = Golf>,
 <game(id = '4' , name = Bobsleigh>,
 <game(id = '5' , name = Cycling>]

In [990]:
# Fill Countries Table
# countries.to_sql('Countries',db, if_exists='append')
# Fill Countries Table
for id_, country in countries.iterrows():
    #print(discipline["Discipline"]);
    session.add(Countries(name=country["name"], code=country["code"], population=country["population"], gdp_per_capita=country["gdp_per_capita"])) 
session.add(Countries(name='Nan', code='Nan', population=0, gdp_per_capita=0))
session.query(Countries).limit(5).all()

[<game(id = '1' , name = Afghanistan, code = AFG, population = 32526562, gdp_per_capita = 594.323081219966>,
 <game(id = '2' , name = Albania, code = ALB, population = 2889167, gdp_per_capita = 3945.21758150914>,
 <game(id = '3' , name = Algeria, code = ALG, population = 39666519, gdp_per_capita = 4206.03123244958>,
 <game(id = '4' , name = American Samoa*, code = ASA, population = 55538, gdp_per_capita = 0.0>,
 <game(id = '5' , name = Andorra, code = AND, population = 70473, gdp_per_capita = 0.0>]

In [991]:
# Fill Disciplines Table
for id_, discipline in disciplines.iterrows():
    #print(discipline["Discipline"]);
    session.add(Disciplines(name=discipline["Discipline"], sport_id=find_sports_id(session, discipline["Sport"])))

In [992]:
# Fill Events Table
for id_, event in events.iterrows():
    #print(discipline["Discipline"]);
    session.add(Events(name=event["Event"], discipline_id=find_disciplines_id(session, event["Discipline"])))

In [993]:
# Fill Olympics Table
for id_, olympic in olympics.iterrows():
    #print(discipline["Discipline"]);
    session.add(Olympics(year=olympic["Year"], city_id=find_cities_id(session, olympic["City"]), olympics_type=olympic["Olympics"]))

In [994]:
# Fill Athlete Table
for id_, athlete in athletes.iterrows():
#    print(athlete);
    session.add(Athlete(name=athlete["Name"], surname=athlete["Surname"], country_id=find_countries_id(session, athlete["Country"]), gender=athlete["Gender"]))

In [1001]:
# Fill Medals Table
for id_, medal in medals.iterrows():
    #print(find_athlete_id(session, medal["Name"], medal["Surname"]))
    session.add(Medals(olympics_id=find_olympics_id(session, medal["Olympics"]), event_id=find_events_id(session, medal["Event"]),athlete_id=find_athlete_id(session, medal["Name"], medal["Surname"]), medal_type=medal["Medal"]))

TypeError: Boolean value of this clause is not defined

In [995]:
session.commit()